@font-face {
    font-family: quicksand;
    src: url(font/Quicksand-Light.otf);
}
body{ margin:0 0;
    background-color: #e2d4bd;
    font-family: quicksand, serif;
}

#hero{
    background-image:url(images/forest2.jpg);
    background-size:cover;
    position:relative;
    height:100vh;
}
.info {
    width: 4% ;
    margin-right: 20px ;
    animation-delay: 0.5s;
    cursor: pointer;
}
.sound {
    width: 4% ;
    margin-top: 200px;
    animation-delay: 0.5s;
    cursor: pointer;
}


.header{
    position:absolute;
    top:50%;
    text-align:center;
    width:100%;
    color: rgba(116, 47, 14, 0.76);
    font-size:36px;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}




h1 {
    color: white;
    animation-delay: 0.5s;
    margin-top: 5%;
    padding-bottom: 50px;
    font-family: quicksand, serif;


}





.animated {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.9;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.9;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
html, body {
    overflow-y: hidden;
}
#overlay {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
}
#overlay div {
    width: 20%;
    position: static;
    margin: auto;
    margin-top: 13%;
    background-color: #fff;
    border:1px solid #000;
    padding:15px;
    text-align:center;
    font-size: 18px;
}
a:link, a:visited {
    background-color: rgba(102, 148, 28, 0.5);
    color: #3b1405;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: smaller;

}


a:hover, a:active {
    background-color: #66941c;
}
.rewind {
    width: 4% ;
    animation-delay: 0.5s;
    cursor: pointer;
}
.forward {
    width: 4% ;
    margin-right: 20px ;
    animation-delay: 0.5s;
    cursor: pointer;
}
